@mixin photo-block-grids($block_gutter : $gutter, $block_init : 1, $block_max : 12){
	@for $block from $block_init through $block_max {
    .large-block-grid-#{$block} {
    	margin: 0;
    	&.with-gutters{
	  		margin: $block_gutter 0;
    	}
    	&.no-bottom-gutter{
	  		margin: $block_gutter 0 0 0;
    	}
    	&.no-top-gutter{
	  		margin: 0 0 $block_gutter 0;
    	}
    	&.no-bottom-or-top-gutter{
	  		margin: 0;
    	}
    	&.no-side-gutters{
	  		margin: $block_gutter 0;
    	}
    	&.no-side-gutters-only-top{
	  		margin: $block_gutter 0 0 0;
    	}
    	&.no-side-gutters-only-bottom{
	  		margin: 0 0 $block_gutter 0;
    	}
    }
    .large-block-grid-#{$block} > li {
	    float: right; // Chrome rounding glitch
	    width: ((1/$block) * 100%);
	    padding: 0;
	    margin: 0;
	    img{
	    	width: 100%;
	    	padding: 0;
	    	&.with-gutters, &.no-bottom-gutter, &.no-top-gutter, &.no-bottom-or-top-gutter{
		  		padding: 0 $block_gutter/2;
	    	}
	    }
	    &:first-child img {
	    	&.no-gutters, &.no-side-gutters, &.no-side-gutters-only-top, &.no-side-gutters-only-bottom{
	    		padding-right: $block_gutter/2;
	    	}
	    }
	    &:last-child img{
	    	&.no-gutters, &.no-side-gutters, &.no-side-gutters-only-top, &.no-side-gutters-only-bottom{
	    		padding-left: $block_gutter/2;
	    	}
	    }
    }
	}
	.large-block-grid-1 > li{
		img{
			padding-left: $block_gutter/2;
			padding-right: $block_gutter/2;
		}
	}
}

/**
 * Stretches with browser width when not inside a container with restrictive width
 */
img.full-photo-section{
  width: 100%;
  padding: 0;
}
@mixin flexible-width ($context, $target) {
  width: (($target / $context) * 100%);
}

.photo-triangle-section{
	img{
		padding: 0;
	}
  .left{
  	width: ((1/3) * 100%);
  	padding-left: $gutter/2;
  }
  .right{
  	width: ((1/3) * 100%);
  	margin-left: ((1/3) * 100%);
  	padding-right: $gutter/2;
  }
  .middle{
  	width: ((1/3) * 100%);
  	margin-left: ((1/3) * 100%);
  	margin-right: ((1/3) * 100%);
  }
}

.project-carousel{
	background-color: black;
	padding-bottom: 50px;
	li a{
		border: none;
		padding: 0;
		margin: 0;
	}
	.scrollable{
		.viewport {
		  width: 100%;
		  height: 200px;
		  overflow: hidden;
		  position: relative;
		}
		.overview {
		  list-style: none;
		  padding: 0;
		  margin: 0;
		  position: absolute;
		  left: 0;
		  top: 0;
			img {
			  float: left;
			  padding: 0 10px;
			}
		}
		.scrollbar {
		  // background: transparent url("img/tinyscrollbar-pixbit/bg-scrollbar-track-x.png") no-repeat 0 0;
		  position: relative;
		  margin: 0 auto 5px;
		  clear: both;
		  height: 25px;
		  z-index: 2;
		  top: 250px;
		}
		.track {
		  // background: transparent url("img/tinyscrollbar-pixbit/bg-scrollbar-trackend-x.png") no-repeat 100% 0;
		  width: 100%;
		  height: 25px;
		  position: relative;
		}
		.thumb {
		  background: transparent url("img/tinyscrollbar-pixbit/bg-scrollbar-thumb-x.png") no-repeat 100% 50%;
		  height: 25px;
		  cursor: pointer;
		  overflow: hidden;
		  position: absolute;
		  left: 0;
		  top: -5px;
		}
		.end {
		  background: transparent url("img/tinyscrollbar-pixbit/bg-scrollbar-thumb-x.png") no-repeat 0 50%;
		  overflow: hidden;
		  height: 25px;
		  width: 5px;
		}
		.disable {
		  display: none;
		}
	}
	.noSelect {
	  user-select: none;
	  -o-user-select: none;
	  -moz-user-select: none;
	  -khtml-user-select: none;
	  -webkit-user-select: none;
	}
}


.icons-block-section ul li a{
	img.icon-block{display: inherit;}
	img.icon-hover{display: none;}
	&:hover{
		img.icon-block{display: none}
		img.icon-hover{display: inherit;}
	}
}
