/*==================================================================================================
Color Theme 01
==================================================================================================*/
/*==================================================================================================
Master Color Theme 01
==================================================================================================*/
/*==================================================================================================
Foundation Variables
==================================================================================================*/
/*==================================================================================================
My Variables
==================================================================================================*/
/*==================================================================================================
Mixins
==================================================================================================*/
/*==================================================================================================
Blog
==================================================================================================*/
/* line 28, ../scss/master/_blog.scss */
aside.blog-sidebar h5 {
  text-align: center;
}

/* line 32, ../scss/master/_blog.scss */
aside.blog-sidebar h5, .related-posts h5 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: none;
  padding-bottom: 0.5em;
}

/* line 43, ../scss/master/_blog.scss */
aside.blog-sidebar li, aside.blog-sidebar p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0;
  text-transform: none;
  list-style-type: none;
  padding-bottom: 1em;
  text-align: center;
}

/* line 56, ../scss/master/_blog.scss */
aside.blog-sidebar ul {
  margin-left: 0;
}

/* line 60, ../scss/master/_blog.scss */
aside.blog-sidebar ul li {
  list-style-type: none;
  margin-left: 0;
}

/* line 65, ../scss/master/_blog.scss */
aside.blog-sidebar ul li a, aside.blog-sidebar ul li a:hover, aside.blog-sidebar p a, aside.blog-sidebar p a:hover, article h1 a, article h1 a:hover {
  border-bottom: none !important;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

/* line 71, ../scss/master/_blog.scss */
article {
}

/* line 77, ../scss/master/_blog.scss */
article h1, h1.archive-title {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: none;
}

/* line 87, ../scss/master/_blog.scss */
article h6.date {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 1.5em;
}

/* line 98, ../scss/master/_blog.scss */
article p, article li {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.6;
}

/* line 104, ../scss/master/_blog.scss */
article p a {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

/* line 108, ../scss/master/_blog.scss */
article p.byline {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: none;
  padding-top: 1em;
}

/* line 119, ../scss/master/_blog.scss */
article img {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* line 124, ../scss/master/_blog.scss */
.comments {
  border-top: 1px solid #c6c0c0;
  margin-top: 3em;
  padding-top: 3em;
  padding-bottom: 1em;
}

/* line 131, ../scss/master/_blog.scss */
div div div article h2 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.3125rem;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: none;
  padding-bottom: 0.25em;
}

/* line 142, ../scss/master/_blog.scss */
div div div article h3 {
  font-weight: bold;
  font-size: 0.875rem;
}

/* line 147, ../scss/master/_blog.scss */
.related-posts {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

/* line 152, ../scss/master/_blog.scss */
.related-posts h5 {
  margin-bottom: 0.25em;
}

/* line 156, ../scss/master/_blog.scss */
.related-posts ul {
  list-style-type: none;
  margin-left: 0;
}

/* line 161, ../scss/master/_blog.scss */
.related-posts ul li {
  margin-left: 0;
  line-height: 1.8;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0;
  text-transform: none;
}

/* line 173, ../scss/master/_blog.scss */
h1.archive-title {
  text-align: center;
  margin-bottom: 1.25em;
}

/* line 178, ../scss/master/_blog.scss */
.archive-item {
  margin-bottom: 2em;
}

/* line 182, ../scss/master/_blog.scss */
.archive-item h2 a {
  -webkit-transition: border 0.2s ease-out;
  -moz-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  border-bottom: 1px solid #a6a2a6;
  padding-bottom: 2px;
  text-decoration: none;
}

/* line 190, ../scss/master/_blog.scss */
.archive-item h2 a:hover {
  border-bottom: 1px solid #d37961;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

/* line 195, ../scss/master/_blog.scss */
.archive-item h2 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.7;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
}

/* line 206, ../scss/master/_blog.scss */
.archive-item h6.date {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
  padding-top: 0.125em;
}

/* line 218, ../scss/master/_blog.scss */
.pagination-custom {
  margin-bottom: 2em;
}

/* line 222, ../scss/master/_blog.scss */
.pagination-custom p span {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: none;
  color: #8f9299;
}

/* line 233, ../scss/master/_blog.scss */
.pagination-custom a, .pagination-custom a:hover {
  border-bottom: none !important;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

/* line 238, ../scss/master/_blog.scss */
.pagination-left {
  padding-right: 1em;
}
/*==================================================================================================
Media Queries
==================================================================================================*/
@media only screen and (min-width: 40.063em) {
  /* line 250, ../scss/master/_blog.scss */
  aside.blog-sidebar h5 {
    text-align: left;
  }

  /* line 254, ../scss/master/_blog.scss */
  aside.blog-sidebar li, aside.blog-sidebar p {
    text-align: left;
  }

  /* line 258, ../scss/master/_blog.scss */
  article h1, h1.archive-title {
    font-size: 2rem;
  }

  /* line 262, ../scss/master/_blog.scss */
  article p, article li, div div div article h3 {
    font-size: 1.125rem;
  }
}