/*==================================================================================================
Global
==================================================================================================*/
html, body {
  background-color: white !important;
}

a {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

p a, li a, h1 a {
  -webkit-transition: border 0.2s ease-out;
  -moz-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out;
  border-bottom: 1px solid #a6a2a6;
  padding-bottom: 1px;
}

p a:hover, li a:hover, h1 a:hover {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  color: #d37961;
  border-bottom: 1px solid #d37961;
}

a img:hover {
  border: none;
}

.button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem !important;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: none;
  line-height: 1.3 !important;
}

a.button {
  background-color: #d37961;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

a.button:hover {
  background-color: #454a56;
}

input.button, a.button {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.p-small {
  font-size: 0.875rem;
  line-height: 1.5;
}

.p-smaller {
  font-size: 0.75rem;
  line-height: 1.5;
}

ul.inline-list-custom li {
  margin-left: 0 !important;
}

ul li {
  margin-left: 0.25em;
  padding-bottom: 1em;
}

ol li {
  margin-left: 0.25em;
  padding-bottom: 1em;
}

.boxed {
  border: 1px solid #b5b1b3;
  padding: 1em;
}

div hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.row blockquote {
  border-left: 1px solid #c6c0c0;
}

.row blockquote p {
  color: #30333c;
  font-style: italic;
}

.row blockquote p cite a {
  color: #30333c;
}

.row blockquote p cite a:hover {
  color: #d37961;
}

.row blockquote cite {
  font-weight: bold;
  font-style: normal;
  color: #30333c;
  font-size: 1em;
  margin-top: 1em;
}

div h1, div h2, div h3, div h4, div h5, div h6 {
  font-weight: bold;
}

div div div h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3125rem;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 0.625em;
}

div div div h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 0.625em;
}

/*==================================================================================================
Body
==================================================================================================*/
.first-row {
  padding-top: 4em;
  padding-bottom: 4em;
}

.section-headline {
  background-color: #f0eae9 !important;
  padding-top: 3.5em;
  padding-bottom: 0.75em;
  -webkit-transition: background-color 0.3s ease-out !important;
  -moz-transition: background-color 0.3s ease-out !important;
  transition: background-color 0.3s ease-out !important;
}

.section-bg-color1 {
  background-color: #fefefe;
}

.section-bg-color2 {
  background-color: #f5f1f0;
}

.section-headline h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.875rem;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
  color: #30333c;
}

.section-headline h1 a {
  color: #30333c;
}

.section-headline h1 a:hover {
  color: #d37961;
}

.section-headline h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
  color: #454a56;
  padding-bottom: 3em;
}

.section-hero {
  padding-top: 4em;
  padding-bottom: 2.5em;
  border-top: 1px solid #e6dddb;
  -webkit-transition: background-color 0.3s ease-out !important;
  -moz-transition: background-color 0.3s ease-out !important;
  transition: background-color 0.3s ease-out !important;
}

a.no-underline, a.no-underline:hover {
  border-bottom: none;
  text-decoration: none;
}

.templates {
  margin-top: -1em;
  margin-bottom: 1em;
  -webkit-transition: background-color 0.3s ease-out !important;
  -moz-transition: background-color 0.3s ease-out !important;
  transition: background-color 0.3s ease-out !important;
}

.templates h3 {
  font-size: 1.5rem !important;
  margin-bottom: 0.25em;
}

.templates h3:nth-of-type(2) {
  padding-top: 0.25em;
}

.section-hero img {
  margin-top: 0.25em;
  margin-bottom: -0.75em;
}

.section-one-img {
  padding-top: 3em;
  padding-bottom: 2em;
  border-top: 1px solid #e6dddb;
  -webkit-transition: background-color 0.3s ease-out !important;
  -moz-transition: background-color 0.3s ease-out !important;
  transition: background-color 0.3s ease-out !important;
}

.section-one-img h3 {
  padding-bottom: 0.25em;
}

.section-one-img p {
  padding-top: 1.25em;
}

.section-four-img {
  padding-top: 3em;
  padding-bottom: 3.5em;
  border-top: 1px solid #e6dddb;
}

.section-four-img div div ul li {
  margin-bottom: 0;
  padding-bottom: 1em;
}

.section-four-img p {
  padding-top: 0;
}

.section-features {
  padding-top: 3em;
  padding-bottom: 3em;
  border-top: 1px solid #e6dddb;
}

.section-features h3 {
  margin-bottom: 0;
}

.feature-box {
  border: 1px solid #b5b1b3;
  padding: 1em;
  padding-bottom: 1.25em;
  margin-top: 1em;
  margin-bottom: 2em;
}

div div div .feature-box h4 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  padding-bottom: 0;
}

.feature-box p, .feature-box li {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

.section-steps {
  padding-top: 3em;
  padding-bottom: 3em;
  border-top: 1px solid #e6dddb;
}

.step-holder {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.step {
  float: left;
  margin-right: 1em;
  margin-bottom: 0;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  background-color: #3e424d;
  display: table;
}

.step-number {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.625rem;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: none;
  color: #f2eeed;
  text-align: center;
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

.section-features-pricing {
  padding-top: 3em;
  padding-bottom: 2em;
  border-top: 1px solid #e6dddb;
}

.pricing {
  text-align: center;
}

div div div.pricing h4 {
  margin-bottom: 1em;
}

.pricing ul {
  list-style-type: none;
  margin-left: 0;
}

.pricing ul li {
  margin-left: 0 !important;
  padding-left: 0 !important;
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
}

.pricing-footer {
  text-align: center;
}

.section-html {
  padding-top: 3em;
  padding-bottom: 3em;
  border-top: 1px solid #e6dddb;
}

.questions li p {
  margin-top: 0.75em;
  margin-bottom: -1em;
}

.section-btn {
  padding-top: 2em;
  text-align: center;
}

.section-btn .button {
  background-color: #d37961;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.section-btn .button:hover {
  background-color: #454a56;
}

/*==================================================================================================
Download Box
==================================================================================================*/
.download-box {
  background-color: #3a3e49;
  padding: 2em;
  padding-bottom: 1em;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s ease-out !important;
  -moz-transition: background-color 0.3s ease-out !important;
  transition: background-color 0.3s ease-out !important;
}

.download-box .button {
  background-color: #d37961;
}

.download-box h3, .download-box p {
  color: #fcfbfb;
}

.download-box p.p-small {
  margin-top: -0.5em;
}

.download-box .button:hover, .download-box .button:focus {
  background-color: #7c8088 !important;
  border: none;
}

.download-box .p-smaller {
  margin-top: 1em;
  border: 1px solid #8f9299;
  padding: 1em;
}

/*==================================================================================================
Media Queries
==================================================================================================*/
@media only screen and (min-width: 40.063em) {
  header h2 {
    font-size: 1.3125rem;
  }

  .section-headline h1 {
    font-size: 2.5rem;
  }
}
