.form-block-section{
  .columns {
    padding: 0;
  }
  h3{
    @include sweetsans(15px, bold);
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .gform_wrapper .top_label .gfield_label{
    display: none;
  }
  .gform_wrapper .top_label input.medium{
    padding-right: 0;
    padding-left: $gutter;
  }
  .gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium{
    width: 100%;
  }
  .gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password]{
    @include turnipreitalic(18px);
    color: white;
  }
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
    margin: 0;
    border: none;
    background-color: #BBBBBB;
    &:focus{
      background-color: $alpha_color;
    }
  }
  input[type="submit"]{
    width: 100%;
  }
  .gform_wrapper .gform_footer{
    margin: 0;
    padding: 0;
    .button{
      @include sweetsans(15px, bold);
      text-transform: uppercase;
      background-color: white;
      border: 3px solid black;
      color: black;
      &:hover{
        background-color: black;
        color: white;
      }
    }
  }
  #gforms_confirmation_message{
    border: 3px solid black;
    padding: 30px 50px 20px 50px;
    margin-top: 50px;
  }
  #gform_confirmation_message_1{
    h1{
      @include sweetsans(25px);
      color: $alpha_color;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
    }
    p{
      @include turnipreitalic(15px);
      text-align: center;
    }
  }


  h3.form-icons-header{
    padding-top: 0;
  }
  ul.contact-texts{
    list-style: none;
    margin-left: 0;
    li{
      margin-left: 0;
      padding-bottom: $gutter/2;
      @include sweetsans(25px);
      color: black;
      &:first-child{
        @include sweetsans(35px);
      }
      span{
        @include sweetsans(14px);
        color: $alpha_color;
        padding-right: $gutter*2;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }

  ul.form-icons{
    padding: 0;
    &, li.form-icon{
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      line-height: 1px;
      list-style: none;
    }
    li.form-icon{
      text-align: center;
      padding-bottom: 70px;
      float: left;
      overflow: hidden;
      margin: 0;
      a{
        display: inline-block;
        // text-indent: -1000px;
        text-decoration: none;
        border: none;
      }
    }
  }
}

.icons-block-section{
  border-bottom: 1px solid #BBBBBB;
  margin-bottom: 40px;
  h2{
    @include centered-title(25px);
  }
  ul{
    padding-bottom: 40px;
    a{
      border: none;
    }
  }
}

.share-block-section{
  h2{
    @include centered-title(25px);
  }
  ul.share-icons{
    &, li.share-icon{
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      line-height: 1px;
      list-style: none;
    }
    li.share-icon{
      text-align: center;
      padding-bottom: 70px;
      float: left;
      overflow: hidden;
      margin: 0;
      a{
        display: inline-block;
        // text-indent: -1000px;
        text-decoration: none;
        border: none;
        img{
          max-width: 90%;
          padding: 0 5%;
        }
      }
    }
  }
}

.footer-section{
  background-color: black;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 200px;
  .footer-content{
    position: absolute;
    opacity: 0;
  }
}

/*==================================================================================================
Footer
==================================================================================================*/
footer {
  background-color: black;
  height: 25px;
  padding-top: 5px;
}

footer ul {
  margin: 0 $gutter/2;
}

footer li {
  @include sweetsans(13px);
  text-transform: uppercase;
  color: white;
  display: inline-block;
  &.left-footnote, &.right-footnote{
    padding: 0;
    margin: 0;
  }
  &.left-footnote{
    text-align: left;
  }
  &.right-footnote{
    text-align: right;
  }
}

footer li a {
  &, &:hover{
    color: white;
    border: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
}

footer div.social-icons {
  text-align: center;
}

footer div.social-icons i {
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: #373b44;
  border: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

footer div.social-icons a:hover i {
  color: #d37961;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

footer div.social-icons a i {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.footer-badge {
  text-align: center;
  padding-top: 2em;
}
