$header_height : 100px;
$alpha_color: #C3996B;

.sticky, .drop-down-carousel{
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}
.menu-item-stem{
  top: -1000px;
}
.drop-down-carousel{
  top: -1000px;
  max-height: 280px;
}
nav{
  height: $header_height;
  border: 1px solid #F5F5F5;
}
nav, #header-logo, .drop-down-carousel, .menu-item-stem{
  -webkit-transition: background-color 400ms ease-out,color 400ms ease-out,opacity 400ms ease-out;
  -moz-transition: background-color 400ms ease-out,color 400ms ease-out,opacity 400ms ease-out;
  -o-transition: background-color 400ms ease-out,color 400ms ease-out,opacity 400ms ease-out;
  transition: background-color 400ms ease-out,color 400ms ease-out,opacity 400ms ease-out;
  -webkit-backface-visibility: hidden
}
/*==================================================================================================
Header & Nav
==================================================================================================*/
#header-logo{
  width: 200px;
  margin: auto;
  display: block;
}

@mixin bg-image{
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

@mixin full-bg-without-image($image_height : 1000px){
  height: $image_height;
  @include bg-image;
}

@mixin partial-bg-without-image($image_height : 667px, $image_width : 50%, $margin_left : 0, $margin_right : 0){
  height: $image_height;
  width: $image_width;
  margin-left: $margin_left;
  margin-right: $margin_right;
  float: left;
  @include bg-image;
}

.full-width-bg{
  @include full-bg-without-image;
}

.half-width-bg{
  @include partial-bg-without-image;
}

header nav{
  background-color: white;
  height: $header_height;
  .menu-item{
    display: block;
    padding-top: 40px;
    margin: 0;
    &.left-menu-item{
      text-align: left;
    }
    &.right-menu-item{
      text-align: right;
    }
  }
  a{
    height: $header_height;
    @include sweetsans(19px);
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    color: black;
    &.logo-link{
      width: 100%;
      display: block;
    }
    &:hover, &:focus {
      color: $alpha_color;
    }
  }
  [class*="column"] + [class*="column"]:first-child a{
    text-align: right;
  }
  [class*="column"] + [class*="column"]:last-child a{
    text-align: right;
  }
}

a.current {
  color: #8f9299 !important;
  pointer-events: none;
  border-bottom: none;
}

a.current:hover {
  color: #8f9299 !important;
}

p a {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.header-section{
  text-align: center;
  a{
    -webkit-transition: color 400ms ease-out,background-color 400ms ease-out;
    -moz-transition: color 400ms ease-out,background-color 400ms ease-out;
    -o-transition: color 400ms ease-out,background-color 400ms ease-out;
    transition: color 400ms ease-out,background-color 400ms ease-out;
  }
  #scroll-down{
    cursor: pointer;
    background-image: url(img/svg/arrow-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 45px 73px;
    -moz-background-size: 45px 73px;
    -o-background-size: 45px 73px;
    background-size: 45px 73px;
    width: 45px;
    height: 73px;
    position: absolute;
    bottom: 4.86111%;
    margin: 0;
    z-index: 50;

    &:hover{
      background-image: url(img/svg/arrow-down-hover.svg);
      background-color: #e2e3e2;
    }
  }
  .header-content{
    position: absolute;
    opacity: 0;
    h1{
      @include sweetsans(48px, bold);
      text-transform: uppercase;
      color: white;
      padding-bottom: 10px;
    }
  }
}

#featuredvideoplayer{
  display:none;
  position:absolute;
  top:0px;
  left:0px;
}
.banner-link{
  @include banner-link;
}
