@media only screen and (max-width: 40.063em) {
  [class*="block-grid-"]:not(.share-icons):not(.form-icons){
    & > li {
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
}


/* small displays */
@media only screen {
  header nav{
    margin-top: 40px;
  }
  #header-logo{
    margin-top: 15px;
  }
  #scroll-down{
    display: none;
  }
  .project-carousel{
    padding-bottom: 0;
  }
  .project-carousel .scrollable .viewport{
    height: 192px;
  }
  .project-carousel .scrollable .scrollbar{
    top: 200px;
  }
  .section-info, .section-description {
    padding-top: 0;
    padding-bottom: $gutter * 3;
    .list-block{
      padding-top: 40px;
    }
  }
  article ul li img{
    padding:0;
  }
  .quote-text{
    padding:30px;
  }
  .quote-photo-section .half-width-quote p,
  .quote-photo-section .half-width-quote h2,
  .photo-quote-section .half-width-quote p,
  .photo-quote-section .half-width-quote h2{
    text-align: center;
  }

  [class*="block-grid-"]{
    margin: 0;
    & > li {
      padding: 0;
      margin: 0;
    }
  }
  .row .row{
    margin: 0;
  }


  .form-block-section{
    ul.contact-texts li{
      margin-left:10px;
      span{
        width: 100%;
        display:block;
        margin-top:10px;
      }
    }
    h3{
      margin: 10px;
    }
    .gform_wrapper{
      max-width: inherit;
      margin: 10px;
    }
    ul.form-icons li.form-icon{
      padding-bottom: 30px;
      a img{
        max-width: 90%;
        padding: 0 5%;
      }
    }
  }


  .quote-photo-section, .photo-quote-section, .quote-section{
    p{
      font-size:20px;
      &.long-quote{
        font-size:15px;
      }
    }
    h2{
      font-size:25px;
    }
  }

  .quote-section{
    p{
      font-size: 28px;
      &.long-quote{
        font-size:21px;
      }
    }
    h2{
      font-size: 35px;
    }
  }
}
/* medium displays */
@media only screen and (min-width: 40.063em) {
  @include photo-block-grids($gutter, 1, 12);

  header nav{
    margin-top: 40px;
  }
  .project-carousel{
    padding-bottom: 50px;
  }
  .project-carousel .scrollable .viewport{
    height: 200px;
  }
  .project-carousel .scrollable .scrollbar{
    top: 250px;
  }
  .quote-photo-section, .photo-quote-section, .quote-section{
    p{
      font-size:14px;
      &.long-quote{
        font-size:15px;
      }
    }
    h2{
      font-size:17px;
    }
  }

  .quote-section{
    p{
      font-size: 20px;
      &.long-quote{
        font-size:17px;
      }
    }
    h2{
      font-size: 25px;
    }
  }
}
/* large displays */
@media only screen and (min-width: 64.063em) {
  #header-logo{
    margin-top: 0;
  }
  header nav{
    margin-top: 0;
  }
  #scroll-down{
    display: block;
  }
  .section-info, .section-description {
    .list-block{
      padding-top: $gutter * 3;
    }
  }
  .section-description {
    .list-block{
      padding-top: 175px;
    }
  }
  .quote-text{
    padding: 1.5em 0;
  }
  .quote-photo-section .half-width-quote p,
  .quote-photo-section .half-width-quote h2{
    text-align: right;
  }
  .photo-quote-section .half-width-quote p,
  .photo-quote-section .half-width-quote h2{
    text-align: left;
  }


  [class*="block-grid-"]{
    margin-left: -1.5em !important;
    margin-right: -1.5em !important;
    & > li{
      // padding: 0 1.5em 3em;
    }
  }

  .form-block-section{
    ul.contact-texts li{
      margin-left: inherit;
      span{
        width: auto;
        display: inline;
        margin-top: inherit;
      }
    }
    h3{
      margin: inherit;
    }
    .gform_wrapper{
      max-width: 98%;
      margin: 10px 0;
    }
    ul.form-icons li.form-icon{
      padding-bottom: 70px;
      a img{
        max-width: 100%;
        padding: 0;
      }
    }
  }

  .quote-photo-section, .photo-quote-section, .quote-section{
    p{
      font-size:20px;
      &.long-quote{
        font-size:15px;
      }
    }
    h2{
      font-size:25px;
    }
  }

  .quote-section{
    p{
      font-size: 28px;
      &.long-quote{
        font-size:21px;
      }
    }
    h2{
      font-size: 35px;
    }
  }

}
/* xlarge displays */
@media only screen and (min-width: 90.063em) {
}
/* xxlarge displays */
@media only screen and (min-width: 120.063em) {
}
