.full-text-section{
	background-color: black;
	padding: $gutter * 2;
}
.text-section .row{
	background-color: black;
	padding: $gutter * 2;
}
.text-stem, .menu-item-stem{
  display: block;
  margin: 0 auto;
  height: 26px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('img/svg/carrot-down.svg');
}
.menu-item-stem{
  background-image: url('img/svg/carrot-up.svg');
  margin: inherit;
  position: absolute;
}
.full-text-section, .text-section, .text-header{
	p{
		color: white;
		@include turnipreitalic(25px);
	}
	h2{
		color: $hover_color;
		text-align: center;
		padding-top: $gutter;
		@include turnipre(20px);
	}
	div.hr {
		background: #fff no-repeat scroll center;
		margin: 0 auto;
		width: 60px;
		height: 1px;
		hr {
			display: none;
		}
	}
}

.quote-photo-section, .photo-quote-section, .quote-section{
  p{
    @include sweetsans(20px);
    margin-bottom: 0;
	  &.long-quote{
	    @include turnipre(15px);
	  }
  }
  h2{
    @include sweetsans(25px);
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin-bottom: 0;
    text-align: right;
  }
}

.quote-section{
	p, h2{
		text-align: center;
	}
	p{
		font-size: 28px;
	  &.long-quote{
	    @include turnipre(21px);
	  }
	}
	h2{
		font-size: 35px;
	}
}

.quote-photo-section{
  .half-width-quote{
		p, h2{
			text-align: right;
		}
	}
}
.photo-quote-section{
  .half-width-quote{
		p, h2{
			text-align: left;
		}
	}
}