.text-section {
	margin: 0;
	&.no-side-gutters{
		margin: $gutter 0;
	}
	&.no-side-gutters-only-top{
		margin: $gutter 0 0 0;
	}
	&.no-side-gutters-only-bottom{
		margin: 0 0 $gutter 0;
	}
}

div.section-description, div.section-info{
  .description-block, .info-block{
	  h1{
	    @include sweetsans(30px, bold);
	    text-transform: uppercase;
	    color: black;
	    padding: $gutter*3 0 5px 0;
	    margin: 0;
	  }
	  p.subtitle{
  		@include turnipreitalic(14px);
  		padding-bottom: 25px;
	  }
	  h2{
	    @include sweetsans(16px);
	    text-transform: uppercase;
  		padding-bottom: 15px;
	  }
	  p.caption{
  		@include turnipre(14px);
	  }
  }
  .list-block{
	  h2{
	    text-transform: uppercase;
	    text-decoration: none;
	    color: black;
	    margin: 0;
	  }
	  p{
	  	margin-bottom: 0;
  		@include turnipre(14px);
	  }
	  ul{
	  	list-style: none;
	  	margin-left: 0;
	  	li{
	  		@include turnipre(14px);
	  		margin-left: 0;
	  		padding-bottom: 0;
	  		span{
		  		line-height: 27px;
		  		@include turnipreitalic(14px);
	  		}
	  	}
	  }
  }
}

.section-description{
	.list-block{
		ul{
			margin-bottom: 0;
		}
	  h2{
	    @include sweetsans(15px);
	  }
	}
}
.section-info{
	.list-block{
		padding-top: 0;
		h2{
	    @include sweetsans(18px);
			margin-bottom: 0;
			padding-bottom: 28px;
		}
		ul{
			margin-bottom: 0;
		}
		ul.no-list-title{
			padding-top: 49px;
		}
	}
}