#simple-menu-container{
  background: $hover_color;
  z-index: 10000;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  #simple-menu{
    display: block;
    width: 10%;
    text-align: center;
    background: #977351;
    font-size: 40px;
    color: white;
    span{
      text-indent: 100%; white-space: nowrap; overflow: hidden;
    }
  }
}

#sidr ul{
  &, a{
    color: #fff;
    border-bottom: none;
  }
}

.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  @include sweetsans(22px);
  background: #333;
  color: #fff;
  .sidr-inner {
    padding: 0 0 15px;
    > p {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  &.right {
    left: auto;
    right: -260px;
  }
  &.left {
    left: -260px;
    right: auto;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 11px;
    font-weight: normal;
    padding: 0 15px;
    margin: 0 0 5px;
    color: #fff;
    line-height: 24px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a));
    background-image: -webkit-linear-gradient(#4d4d4d, #1a1a1a);
    background-image: -moz-linear-gradient(#4d4d4d, #1a1a1a);
    background-image: -o-linear-gradient(#4d4d4d, #1a1a1a);
    background-image: linear-gradient(#4d4d4d, #1a1a1a);
    -webkit-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 13px;
    margin: 0 0 12px;
    a {
      color: rgba(255, 255, 255, 0.9);
    }
  }
  > p {
    margin-left: 15px;
    margin-right: 15px;
  }
  ul {
    display: block;
    margin: 0 0 15px;
    padding: 0;
    li {
      display: block;
      margin: 0;
      padding-bottom: 5px;
      line-height: 49px;
      &:hover, &.active, &.sidr-class-active {
        border-top: none;
      }
      a, span {
        padding: 0 15px;
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 22px;
      }
      ul {
        border-bottom: none;
        margin: 0;
        li {
          line-height: 40px;
          font-size: 13px;
          &:last-child {
            border-bottom: none;
          }
          &:hover, &.active, &.sidr-class-active {
            border-top: none;
            line-height: 41px;
          }
          a, span {
            color: rgba(255, 255, 255, 0.8);
            padding-left: 30px;
          }
        }
      }
    }
  }
  form {
    margin: 0 15px;
  }
  label {
    font-size: 13px;
  }
  input {
    &[type="text"], &[type="password"], &[type="date"], &[type="datetime"], &[type="email"], &[type="number"], &[type="search"], &[type="tel"], &[type="time"], &[type="url"] {
      width: 100%;
      font-size: 13px;
      padding: 5px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 0 10px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      border: none;
      background: rgba(0, 0, 0, 0.1);
      color: rgba(255, 255, 255, 0.6);
      display: block;
      clear: both;
    }
  }
  textarea, select {
    width: 100%;
    font-size: 13px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.6);
    display: block;
    clear: both;
  }
  input {
    &[type=checkbox] {
      width: auto;
      display: inline;
      clear: none;
    }
    &[type=button], &[type=submit] {
      color: #333;
      background: #fff;
    }
    &[type=button]:hover, &[type=submit]:hover {
      background: rgba(255, 255, 255, 0.9);
    }
  }
  p a, li a, h1 a{
    border-bottom: none;
  }
}
