/*==================================================================================================
Google Fonts
==================================================================================================*/
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800);

/*==================================================================================================
Adobe Typekit
==================================================================================================*/
@mixin sweetsans($size: 100px, $font_weight : normal) {
	font-size: $size;
  font-weight: $font_weight;
  font-family: "Sweet Sans";
  font-style: normal;
}

.sweetsanslight {
  font-family: "Sweet Sans Light";
  font-style: normal;
  font-weight: normal;
}

@mixin turnipre($size: 100px, $font_weight : normal) {
	font-size: $size;
  font-weight: $font_weight;
  font-family: "Turnip RE";
  font-style: normal;
}

@mixin turnipreitalic($size: 100px, $font_weight : normal) {
	font-size: $size;
  font-weight: $font_weight;
  font-family: "Turnip RE";
  font-style: italic;
}

@mixin centered-title($size){
  @include sweetsans($size);
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin: 0;
  text-align: center;
  padding: 50px 0 30px 0;
}

@mixin banner-link{
  @include turnipreitalic(20px);
  border: 2px solid #fff;
  color: #fff;
  padding: 8px 30px;
  &:hover{
    background-color: #fff;
    color: #171717;
  }
}
/*==================================================================================================
Foundation Variables
==================================================================================================*/
/*==================================================================================================
Import
==================================================================================================*/
/*==================================================================================================
Type Theme 01
==================================================================================================*/
/*==================================================================================================
My Variables
==================================================================================================*/
/*==================================================================================================
Blog Type Theme 01: Open Sans
==================================================================================================*/
/*==================================================================================================
Foundation Variables
==================================================================================================*/
/*==================================================================================================
Spacing Adjustments
==================================================================================================*/
/* line 114, ../scss/themes/_type_01.scss */
header h2 a {
  padding: 0.75em !important;
}

/* line 119, ../scss/themes/_type_01.scss */
nav div div ul {
  padding-top: 0.6em;
  margin-bottom: 0.625em !important;
}

/* line 124, ../scss/themes/_type_01.scss */
.button {
  padding-top: 0.9em !important;
  padding-bottom: 0.9em !important;
}

/* line 129, ../scss/themes/_type_01.scss */
div.section-btn a.button {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}