/*
  Theme Name: Remedy Co
  Version: 1.1
	Author URI: http://thinkpixbit.com
  Author: Pixbit
*/

$gutter : 20px;
$hover_color : #C3996B;

@import "stylesheets/blog";
@import "stylesheets/custom";
@import "stylesheets/foundation";
@import "stylesheets/typography";
@import "stylesheets/header";
@import "stylesheets/section-project-info";
@import "stylesheets/quote-and-photo";
@import "stylesheets/block-grid";
@import "stylesheets/footer";
@import "stylesheets/nprogress";
@import "stylesheets/simpletextrotator";
@import "stylesheets/sidr";
@import "stylesheets/mobile";

.work-list{
  margin-top: 40px;
  a{
    img{
      width: 100%;
      padding: 0;
    }
  }
}
